{% extends "base.html" %}

{% block title %} Vacina Paulistana{% endblock %}

{% block content %}
<body>
<div class="row">
    <div class="card green">
        <h>Total de Casos em </h>
        <p></p>
    </div>
    <div class="card red">
        <h>Mortes</h>
        <p></p>

    </div>
    <div class="card blue">
        <h>Suspeitos </h>
        <p></p>

    </div>

    <div class="card negativo">
        <h>Negativos (dia anterior):</h>
        <p></p>

    </div>

</div>
<div class="row">
    <div class="card green">
        <h>Total de Casos no Brasil</h>

        <p></p>

    </div>
    <div class="card red">
        <h>Mortes</h>
        <p></p>

    </div>
    <div class="card blue">
        <h>Recuperados</h>
        <p></p>

    </div>

    <div class="card black">
        <h>Atualizado em:</h>
        <p><small></small></p>

    </div>

</div>


</body>
</html>


{% endblock  %}