{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<body>
<div class="row">
    <div class="card green">
        <h>Total de relatos agricultura </h>
        <p></p>
    </div>
    <div class="card red">
        <h>Hectares</h>
        <p></p>

    </div>
    <div class="card blue">
        <h>Prejuizo </h>
        <p></p>

    </div>

    <div class="card negativo">
        <h>Negativos (dia anterior):</h>
        <p></p>

    </div>

</div>
<div class="row">
    <div class="card green">
        <h>Total de relatos agropecuaria</h>

        <p></p>

    </div>
    <div class="card red">
        <h>cabeças de gado</h>
        <p></p>

    </div>
    <div class="card blue">
        <h>Prejuizo</h>
        <p></p>

    </div>

    <div class="card black">
        <h>Atualizado em:</h>
        <p><small></small></p>

    </div>

</div>


</body>
</html>


{% endblock  %}